---
layout: default
---

<style type="text/css" media="screen">
  h1 {
    margin: 30px 0;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto text-center mt-5">
      <h1 class="display-1">404</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto text-center">
      <p><strong>Page not found :(</strong></p>
      <p>The requested page could not be found.</p>
    </div>
  </div>
</div>
