<style>
.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  cursor: pointer;
  padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  background-color: #B2D7FF;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  font-weight: bold;
  font-style: normal;
}

#navbarResponsive {
  transition-delay: 1s;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;    
}

#autocomplete {
  width: 130px;
  transition-delay: 1s;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

/* When the input field gets focus, change its width to 100% */
#autocomplete:focus {
  width: 100%;
}
</style>

<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script>
    const client = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.search_key }}');
    var index = client.initIndex('{{ site.algolia.index_name }}');

    $('#autocomplete').autocomplete({ hint: false }, {
        source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 5 }),
        openOnFocus: true,
        displayKey: 'title',
        templates: {
            suggestion: data => `
                <div style="display: flex;">
                    <div style="flex-grow: 1;">
                        <a href="${data.url}"><${data._highlightResult.title.value}</a>
                    </div>
                </div>
            `,
            footer: `
            <div class="autocomplete-footer" style="border-top: 1px solid #999; padding: 5px 4px;">
                <div class="autocomplete-footer-branding text-center">
                    <small class="text-muted">
                        Powered by
                        <a href="https://www.algolia.com" target="_blank" class="algolia-powered-by-link" title="Algolia">
                            <img class="algolia-logo" src="https://www.algolia.com/assets/algolia128x40.png" alt="Algolia" style="height: 1em;">                       
                        </a>                
                    </small>        
                </div>
            </span>
        `
        },
        debounce: 200,
        keyboardShortcuts: ['s', '/'],
        clearOnSelected: true,
        autoselectOnBlur: true
    }).on('autocomplete:selected', (event, suggestion, dataset, context) => {
        if (context.selectionMethod === 'click') {
            return;
        }
        window.location.assign(suggestion.url);
    });
</script>