<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{'/' | relative_url }}">{{ site.title | escape }}</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{'/' | relative_url }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/about' | relative_url }}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/projects' | relative_url }}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/presentations' | relative_url }}">Presentations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/posts' | relative_url }}">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{'/contact' | relative_url }}">Contact</a>
          </li>
          <input class="form-control" id="autocomplete" placeholder="Search.."/>
        </ul>
      </div>
    </div>
  </nav>