.archive-heading {
    text-align: center;
    color: white;
    padding-bottom: 5rem;
}

.categories-list {
    padding-left: 0;
}

.categories-list li {
    display: inline;
}

.row a {
  text-decoration:underline;
  text-underline-position: under
}

.post-preview a {
  text-decoration: unset;
  text-underline-position: unset; 
}

a.btn {
  text-decoration: unset;
  text-underline-position: unset;
}

.categories-list a {
  text-decoration: unset;
  text-underline-position: unset; 
}

h2 {
    font-weight: 400;
}

h4 {
    font-weight: 600;
}

.card {
    max-width: 22rem;
}

.card-img-top {
    max-width: 350px; 
    max-height: 350px;
}

.card-img-obsolete {
    position: absolute;
    max-width: 350px; 
    max-height: 350px;
}

img[src*="#img-50"] {
    width: 50%;
 }

figure {
    padding: 10px;
    position: relative;
    cursor: pointer;
}

figure:before,
figure:after {
    position: absolute;
}

figure:before {
  top: 40%;
  left: 20%;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255, 255, 255, 0.7);
  border-radius: 25px;
  background-color: rgba(204, 209, 217, 0.3);
  font-family: 'Font Awesome 5 Free';
  content: '\f144';
  text-align: center;
  line-height: 45px;
  font-size: 19px;
  color: #F5F7FA;
}

@media only screen and (max-width: 600px) {
  figure:before {
    left: 40%;
  }
}


figure:after {
  content: 'gif';
  position: absolute;
  display: inline-block;
  width: 40px;
  text-align: center;
  top: -20px;
  left: 290px;

  font-size: 11px;
  font-weight: 600;
  padding: 5px;
  border-radius: 3px;
  color: #656D78;
  background-color: rgba(170, 178, 189, 0.1);
  text-transform: uppercase;
}
figure.play:before {
  display: none;
}
figure.play:after {
  color: #fff;
  background-color: #8CC152;
}
figcaption {
  padding-top: 15px;
  font-size: 14px;
  color: #8d9bad;
}
figcaption a {
  color: #59687b;
  text-decoration: none;
}