@media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #e4e4e4;
    }

    header.masthead .overlay {
      /* background: #333; */
      /* opacity: 0.9; */
    }

    #mainNav {
      background-color: #333;
      border-bottom: 1px solid #53595F;
    }

    #mainNav.is-fixed {
      background-color: #333;
      border-bottom: 1px solid #53595F;
    }

    #mainNav.is-fixed .navbar-brand {
      color: #e4e4e4;
    }

    #mainNav.is-fixed .navbar-nav > li.nav-item > a {
      color: #e4e4e4;
    }

    #mainNav .navbar-brand {
      color: #e4e4e4;
    }

    #mainNav .navbar-toggler {
      color: #e4e4e4;
      border-color: rgba(228, 228, 228,.7);
    }

    .navbar-nav a {
      color: #e4e4e4;
    }

    .navbar-light .navbar-nav .nav-link {
      color: #e4e4e4;
    }

    .navbar-light .navbar-nav .nav-link:focus, 
    .navbar-light .navbar-nav .nav-link:hover {
      color: rgba(228,228,228,.4);
    }

    pre {
      color: inherit;
    }

    h1,h2,h3 {
        color: #e4e4e4;
    }

    a {
      color: #e4e4e4;
    }

    a:focus, a:hover {
      color: #0085A1;
    }

    footer a {
      color: #e4e4e4;
      /* 0085A1 */
    }

    footer a:focus, a:hover {
      color: #0085A1;
    }

    footer .fa-inverse {
      color: #000;
    }
    
    img {
      filter: grayscale(30%);
    }

    .card-text {
      color: #000;
    }

    .card-title {
      color: #000;
    }
  }
  