<!DOCTYPE html>

<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>